

                                   body
{
   /* mudar a cordo e a  tonalidade do site esse comando */ background-color:#fffff
}
                                   h1,h2,h3,h4
								   
{
	font-family: Sylfaen, Arial; /* Mudar a fonte do texto e caso o usuario não tenha a fonte selecionada coloque uma 2° opição ex: Arial.*/ 
	
	font-size:20px; /* Mudar o tamanho da fonte do texto.*/

         text-align:center;
		  max-width: 100%;        /* mantém responsivo */
}	


                             h5
{
	font-family: Sylfaen, Arial; /* Mudar a fonte do texto e caso o usuario não tenha a fonte selecionada coloque uma 2° opição ex: Arial.*/ 
	
	font-size:20px; /* Mudar o tamanho da fonte do texto.*/
	  text-align:center;
		  max-width: 100%;        /* mantém responsivo */
		   background-color:#B0C4DE;
		  
		  
}






                                    h6
{
	font-family: Sylfaen, Arial; /* Mudar a fonte do texto e caso o usuario não tenha a fonte selecionada coloque uma 2° opição ex: Arial.*/ 
	
	font-size:20px; /* Mudar o tamanho da fonte do texto.*/
	  text-align:center;
		  max-width: 100%;        /* mantém responsivo */
		  background-color:#E5F3FF;
		   color:#000000;
		  
}
                                    p
									
									
{
	font-size:20px; /* Mudar o tamanho da fonte do texto.*/
	 text-align:center;
	  max-width: 100%;        /* mantém responsivo */
}


                                   section
{
	 background-color:#ffffff;
	font-family: Sylfaen, Arial;
	 padding:1px;
}

                                  footer
{
	 background-color:#E5F3FF;
	font-family: Sylfaen, Arial;
	 padding:10px;
	 color:#000000;
	 
	 font-size: 16PX;
	 text-align:center;
	  max-width: 100%;        /* mantém responsivo */
	 /*formatar qualquer coisa exenplo quero formatar o footer 
	 
	   footer

	 background-color:#001300;
	font-family: Sylfaen, Arial;
	 padding:10px;
	 color:#983b0c;
	 font-size: 16PX;
	 text-align:center;{center;
	 
e muda a cor a fonte o tamanha da fonte e centralizar.*/
	 }
	 
                                              Img 
{
	/* Centralizar imagens ou vídeos */

    margin: 0 auto;      /* centraliza */
   max-width: 100%;        /* mantém responsivo */
   align-content:center;           /* centraliza melhor   */
   
}

                                           video
{
	
	  display: block;      /* transforma em bloco */
    margin: 0 auto;      /* centraliza */
    max-width: 100%;     /* mantém responsivo */
	
}
                               
                                    div

 {
	 
	 margin: 0 auto;      /* centraliza */
    max-width: 100%;     /* mantém responsivo */
	 
 }
 
 
 
 /* Primeiro eu tive que criar uma classe no html para o botão em div com esse comando div classe="menu" */
.menu {   /* o " . " ele serve para chamar a classe */
    text-align: center;
    margin-top: 20px;  /* o espaço entre o titulo e os botões */
}

 /*  Para eu criar a Classe do botão eu tive que ir no comando do botão e escrever 
 
 "<a href="Site oficial.html" target="self"><button class="btn">Início</button></a>"

<a>e para colocar o link do html</a>

<button class="btn"> pra ser criado um botão e a classe do botão para eu estiliza no css */
.btn {
    background-color: #0078ff;  /*  */
    color: white;
    padding: 12px 25px; /* o espaço da borda do botão para letra */
    margin: 8px; /* espaço dos botões entre si  */
    border: none; /* tirar a borda  */
    border-radius: 10px; /*  aredondar  */
    font-size: 18px;
    cursor: pointer; /* estilo de mãosinha quando o mouse passa porcima do botão */
    transition: 0.3s;   /* para mudadar o tamanho do botão quando vc passa o mouse por cima */
    font-family: Sylfaen, Arial;
}

 /*  "hover" e quando o mouse parsar por cima do botão */
.btn:hover {
    background-color: #005fcc;  /*  */
    transform: scale(1.05);    /*  aumentar o botão */
}

 /*  "active" quando o botão e clicado*/
.btn:active {
    transform: scale(0.97); /*  emcolher */
	
	
	 
}






.card-criador { /* Para funcionar esse codigo pelo o que eu em tendi primeiro vc tem que ir no Html e criar uma classe em "div"*/

    display: flex;  /* ele coloca a imagen e o texto um do lado do outro */
	
    align-content: center;/* eu sei como funciona */
	
    justify-content: center; /* ele alinha Horizontalmente em div como fosse o comando align-content  */
	
    gap: 30px;/* e um expaçamento entre a imagen e o texto  */
	
    max-width: 900px;/* ja sei  */
	
    margin: 40px auto;/* ja sei   */
	
    padding: 20px;/* el da um espaço entre o texto/imagen da borda */
	
    background-color: #f5f7fa;/* ja sei */
	
    border-radius: 20px;/* aredonda a borda da ispecie de cartão que eu fiz */
	
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);/* cria um Efeito de sonbra  */
}

.card-criador img {
    width: 220px;/*  tamanho da imagen */
	
    height: 220px;/* tamanho da imagen */
	
    
	
    border-radius: 20px;/* ele a redonda as bordas da imagen */
}

.info-criador {
    max-width: 450px;/* o tamanho do texto maximo */
	
    text-align: left;/* centralizar o texto para esquerda */
}

.info-criador p {
    font-size: 16px;/* tamanho da letra */

    margin-bottom: 15px;/* o espaço entre o titulo e o texto */
}

.info-criador h3 {
    margin-bottom: 8px;/* o espaço entre o titulo e o texto */
}

.info-criador ul {
    padding-left: 20px;/* ele não deixa o texto ficar colado */
}



               @media all and (min-width: 960px) {
    body {
        width: 960px;
        margin: auto;
    }
}



